.header {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* Логотип */
.logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

/* Пошук */
.searchContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70%;
}

.searchForm {
  display: flex;
  max-width: 500px;
  width: 100%;
}

.searchInput {
  width: 100%;
  padding: 8px 15px;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 10px 0 0 10px;
  outline: none;
  background-color: #ffffff;
  color: #333;
  font-size: 14px;
}

.searchInput::placeholder {
  color: #aaa;
}

.searchButton {
  padding: 8px 15px;
  background-color: whitesmoke;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.searchIcon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  object-fit: cover;
}

/* Навігація */
.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f0f0f0;
  padding: 5px;
  object-fit: cover;
  cursor: pointer;
}

.navLink {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: color 0.3s;
}

.navLink:hover {
  color: #007bff;
}

/* Кошик */
.cart {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.cartIcon {
  font-size: 18px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartCount {
  background-color: #ff4d4d;
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -10px;
}

/* Адаптивність для мобільних пристроїв */
@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
  }

  .searchForm {
    order: 3;
    /* Переносимо пошук вниз на мобільних */
    max-width: 100%;
    width: 100%;
  }
}